<div class="container text-center">
    <h1 class="mt-5">{{this.store}} laptopovi</h1>
    <h3>{{this.count}} laptopova</h3>
    <div class='flex-container'>
        {{#each articles}}
        <div class="card mt-2 mb-4 ml-4 mr-4" style="width: 18rem;">
            {{#ifValue this.store "Winwin"}}
            <img class="card-img-top" src="winwin.jpg" alt="laptop">
            {{/ifValue}}
            {{#ifValue this.store "Emmi"}}
            <img class="card-img-top" src="emmiLogo.jpg" alt="laptop">
            {{/ifValue}}
            {{#ifValue this.store "Jakov sistem"}}
            <img class="card-img-top" src="jakovsistem.jfif" alt="laptop">
            {{/ifValue}}
            <div class="card-body text-center">
                <h4 class="card-title">{{this.title}}</h4>
                <p class="card-text">Cena: <span class="font-weight-bold">{{this.price}}</span></p>
                <form class='text-center' method="POST" action="details">
                    <input name='title' value="{{this.title}}" class="none-display">
                    <input name='store' value="{{this.store}}" class="none-display">
                    <button type="submit" class="btn btn-dark">Detaljnije</button>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</div>