<div class="container mt-5 mb-5">
    <h1>{{article.title}}</h1>
    <h3>Prodavnica: {{article.store}}</h3>
    <h3>Cena: {{article.price}}</h3>
    {{#ifValue isUserSignedIn true}}
    {{#ifValue isAddedToFavorites false}}
    <form class='text-center' method="POST" action="addToFavorites">
        <input name='title' value="{{article.title}}" class="none-display">
        <input name='store' value="{{article.store}}" class="none-display">
        <input name='username' value="{{user.username}}" class="none-display">
        <button type="submit" class="btn btn-warning">Dodaj u favorite</button>
    </form>
    {{/ifValue}}
    {{#ifValue isAddedToFavorites true}}
    <form class='text-center' method="POST" action="removeFromFavorites">
        <input name='title' value="{{article.title}}" class="none-display">
        <input name='store' value="{{article.store}}" class="none-display">
        <input name='username' value="{{user.username}}" class="none-display">
        <button type="submit" class="btn btn-danger">Izbaci iz favorita</button>
    </form>
    {{/ifValue}}
    {{/ifValue}}
    <hr>
    {{#ifNotValue article.details.proizvodjac null}}
    <p class="card-text"><span class="font-weight-bold">Proizvodjac: </span>{{article.details.proizvodjac}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.hibridniUredjaj null}}
    <p class="card-text"><span class="font-weight-bold">Hibridni Uredjaj: </span> {{article.details.hibridniUredjaj}}
    </p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.model null}}
    <p class="card-text"><span class="font-weight-bold">Model: </span>{{article.details.model}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.dijagonalaEkrana null}}
    <p class="card-text"><span class="font-weight-bold">Dijagonala ekrana: </span>{{article.details.dijagonalaEkrana}}
    </p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.cpuProizvodjac null}}
    <p class="card-text"><span class="font-weight-bold">Proizvodjac procesora: </span>{{article.details.cpuProizvodjac}}
    </p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.brojJezgara null}}
    <p class="card-text"><span class="font-weight-bold">Broj jezgara: </span>{{article.details.brojJezgara}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.taktProcesora null}}
    <p class="card-text"><span class="font-weight-bold">Takt procesora: </span>{{article.details.taktProcesora}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.kapacitetHardDiska null}}
    <p class="card-text"><span class="font-weight-bold">Kapacitet hard diska:
        </span>{{article.details.kapacitetHardDiska}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.grafickaKarticaTip null}}
    <p class="card-text"><span class="font-weight-bold">Tip graficke kartice:
        </span>{{article.details.grafickaKarticaTip}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.konekcije null}}
    <p class="card-text"><span class="font-weight-bold">Konekcije: </span>{{article.details.konekcije}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.mikrofon null}}
    <p class="card-text"><span class="font-weight-bold">Mikrofon: </span>{{article.details.mikrofon}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.visina null}}
    <p class="card-text"><span class="font-weight-bold">Visina: </span>{{article.details.visina}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.garancija null}}
    <p class="card-text"><span class="font-weight-bold">Garancija: </span>{{article.details.garancija}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.cpuModel null}}
    <p class="card-text"><span class="font-weight-bold">Model procesora: </span>{{article.details.cpuModel}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.ramMemorija null}}
    <p class="card-text"><span class="font-weight-bold">RAM Memorija: </span>{{article.details.ramMemorija}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.integrisanaGrafika null}}
    <p class="card-text"><span class="font-weight-bold">Integrisana grafika:
        </span>{{article.details.integrisanaGrafika}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.tipHardDiska null}}
    <p class="card-text"><span class="font-weight-bold">Tip hard diska: </span>{{article.details.tipHardDiska}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.rezolucija null}}
    <p class="card-text"><span class="font-weight-bold">Rezolucija: </span>{{article.details.rezolucija}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.tipEkrana null}}
    <p class="card-text"><span class="font-weight-bold">Tip ekrana: </span>{{article.details.tipEkrana}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.formatEkrana null}}
    <p class="card-text"><span class="font-weight-bold">Format ekrana: </span>{{article.details.formatEkrana}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.zvucnici null}}
    <p class="card-text"><span class="font-weight-bold">Zvucnici: </span>{{article.details.zvucnici}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.duzina null}}
    <p class="card-text"><span class="font-weight-bold">Duzina: </span>{{article.details.duzina}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.tezina null}}
    <p class="card-text"><span class="font-weight-bold">Tezina: </span>{{article.details.tezina}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.masa null}}
    <p class="card-text"><span class="font-weight-bold">Tezina: </span>{{article.details.masa}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.optickiUredjaj null}}
    <p class="card-text"><span class="font-weight-bold">Opticki uredjaj: </span>{{article.details.optickiUredjaj}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.operativniSistem null}}
    <p class="card-text"><span class="font-weight-bold">Operativni sistem: </span>{{article.details.operativniSistem}}
    </p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.tipBaterije null}}
    <p class="card-text"><span class="font-weight-bold">Tip baterije: </span>{{article.details.tipBaterije}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.ekranOsetljivNaDodir null}}
    <p class="card-text"><span class="font-weight-bold">Ekran osetljiv na dodir:
        </span>{{article.details.ekranOsetljivNaDodir}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.kuciste null}}
    <p class="card-text"><span class="font-weight-bold">Kuciste: </span>{{article.details.kuciste}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.boja null}}
    <p class="card-text"><span class="font-weight-bold">Boja: </span>{{article.details.boja}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.webKamera null}}
    <p class="card-text"><span class="font-weight-bold">Web kamera: </span>{{article.details.webKamera}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.brojCelijaBaterije null}}
    <p class="card-text"><span class="font-weight-bold">Broj celija baterije:
        </span>{{article.details.brojCelijaBaterije}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.brzinaMemorije null}}
    <p class="card-text"><span class="font-weight-bold">Brzina memorije: </span>{{article.details.brzinaMemorije}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.citacKartica null}}
    <p class="card-text"><span class="font-weight-bold">Citac kartica: </span>{{article.details.citacKartica}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.kuciste null}}
    <p class="card-text"><span class="font-weight-bold">Kuciste: </span>{{article.details.kuciste}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.procesor null}}
    <p class="card-text"><span class="font-weight-bold">Procesor: </span>{{article.details.procesor}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.kolicinaMemorije null}}
    <p class="card-text"><span class="font-weight-bold">Kolicina memorije: </span>{{article.details.kolicinaMemorije}}
    </p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.ssd null}}
    <p class="card-text"><span class="font-weight-bold">SSD: </span>{{article.details.ssd}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.rezolucijaEkrana null}}
    <p class="card-text"><span class="font-weight-bold">Rezolucija: </span>{{article.details.rezolucijaEkrana}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.mreza null}}
    <p class="card-text"><span class="font-weight-bold">Mreza: </span>{{article.details.mreza}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.povezivanje null}}
    <p class="card-text"><span class="font-weight-bold">Povezivanje: </span>{{article.details.povezivanje}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.nacinUnosaPodataka null}}
    <p class="card-text"><span class="font-weight-bold">Nacin unosa podataka:
        </span>{{article.details.nacinUnosaPodataka}}</p>
    {{/ifNotValue}}
    {{#ifNotValue article.details.ostalo null}}
    <p class="card-text"><span class="font-weight-bold">Ostalo: </span>{{article.details.ostalo}}</p>
    {{/ifNotValue}}
</div>