<form class='text-center m-5' method="POST" action="find">
  <div class="row">
    <div class="col">
      <input type="text" name="searchstr" class="form-control" placeholder="Artikal za pretragu">
    </div>
    <div class="col">
      <button type="submit" class="btn btn-dark">Pretrazi</button>
    </div>
  </div>
</form>

{{#ifValue isUserSignedIn false}}
<div class="container">
  <a class="btn btn-success" href='register'>Ulogujte se</a>
  <a class="btn btn-success" href='register'>Registrujte se</a>
</div>
{{/ifValue}}

{{#ifValue isUserSignedIn true}}
<div class="container">
  <a class="btn btn-danger" href='unregister'>Odjavite se</a>
</div>
{{/ifValue}}


{{#ifNotValue this.articles null}}
<hr>
<div class="container text-center">
  <h1 class="mt-5">Rezultati pretrage</h1>
  <div class='flex-container'>
    {{#each articles}}
    <div class="card mt-2 mb-4 ml-4 mr-4" style="width: 18rem;">
      {{#ifValue this.store "Winwin"}}
      <img class="card-img-top" src="winwin.jpg" alt="laptop">
      {{/ifValue}}
      {{#ifValue this.store "Emmi"}}
      <img class="card-img-top" src="emmiLogo.jpg" alt="laptop">
      {{/ifValue}}
      {{#ifValue this.store "Jakov sistem"}}
      <img class="card-img-top" src="jakovsistem.jfif" alt="laptop">
      {{/ifValue}}
      <div class="card-body text-center">
        <h4 class="card-title">{{this.title}}</h4>
        <p class="card-text">Cena: <span class="font-weight-bold">{{this.price}}</span></p>
        <form class='text-center' method="POST" action="details">
          <input name='title' value="{{this.title}}" class="none-display">
          <input name='store' value="{{this.store}}" class="none-display">
          <button type="submit" class="btn btn-dark">Detaljnije</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{/ifNotValue}}


{{#ifNotValue userFavorites null}}
{{#ifNotValue count 0}}
<hr>
<div class="container text-center">
  <h1 class="mt-5">Vasi favoriti</h1>
  <div class='flex-container'>
    {{#each userFavorites}}
    <div class="card mt-2 mb-4 ml-4 mr-4" style="width: 18rem;">
      {{#ifValue this.store "Winwin"}}
      <img class="card-img-top" src="winwin.jpg" alt="laptop">
      {{/ifValue}}
      {{#ifValue this.store "Emmi"}}
      <img class="card-img-top" src="emmiLogo.jpg" alt="laptop">
      {{/ifValue}}
      {{#ifValue this.store "Jakov sistem"}}
      <img class="card-img-top" src="jakovsistem.jfif" alt="laptop">
      {{/ifValue}}
      <div class="card-body text-center">
        <h4 class="card-title">{{this.title}}</h4>
        <p class="card-text">Cena: <span class="font-weight-bold">{{this.price}}</span></p>
        <form class='text-center' method="POST" action="details">
          <input name='title' value="{{this.title}}" class="none-display">
          <input name='store' value="{{this.store}}" class="none-display">
          <button type="submit" class="btn btn-dark">Detaljnije</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{/ifNotValue}}
{{/ifNotValue}}

{{#ifValue isUserSignedIn true}}
<div class="container mb-5">
  <a class="btn btn-danger" href='deleteUser'>Obrisi profil</a>
</div>
{{/ifValue}}