<div id="starter">

    <div class='center'>
        <h1>Web Scraper</h1>
        {{#ifNotValue error ""}}
        <h2 id='error'>{{error}}</h2>
        {{/ifNotValue}}
    </div>
    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
                <h3>Uloguj se</h3>

                <form method="POST" action="signIn">
                    <input type="text" name='usernameSignIn' class="form-control mt-3"
                        placeholder="Vase korisnicko ime *" value="">
                    <input type="password" name='passwordSignIn' class="form-control mt-3" placeholder="Vasa lozinka *"
                        value="">
                    <button type="submit" class="btnSubmit mt-3">Uloguj se</button>
                </form>

            </div>
            <div class="col-md-6 login-form-2">
                <h3>Registruj se</h3>
                <form method="POST" action="signUp">
                    <input type="text" name='usernameSignUp' class="form-control mt-3"
                        placeholder="Vase korisnicko ime *" value="">
                    <input type="password" name='passwordSignUp' class="form-control mt-3" placeholder="Vasa lozinka *"
                        value="">
                    <button type="submit" class="btnSubmit mt-3">Registruj se</button>
                </form>
            </div>
        </div>
    </div>
</div>