.flex-container{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    margin-top: 5%;
    cursor: pointer;
}

.none-display{
    display:none;
}

.container h3{
    color: darkblue;
}


.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

#starter{
    margin-bottom: 5%;
}

#starter h1{
    text-align: center;
    margin-top: 1%;
}

#error{
    color:red; 
}

.center{
    text-align: center;
}

.login-container{
    margin-top: 2%;
    margin-bottom: 0;
}

.login-form-1 {
    padding: 9%;
    background: #282726;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-2 {
    padding: 9%;
    background: #945388;
    /* background: #f05837; */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.btnSubmit {
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
}

.btnForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.login-form-2 h3 {
    text-align: center;
    margin-bottom: 12%;
    color: #fff;
}

.login-form-1 h3 {
    text-align: center;
    margin-bottom: 12%;
    color: #fff;
}